.container_small-card {
  width: 500px;
  margin-bottom: 1.25rem;
}

.container_samll-card-content {
  display: flex;
  flex-direction: row;
}

.small-card_photo > img {
  width: 11rem;
  height: 6.7rem;
  margin-right: 1.25rem;
}

.small-card_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.small-card_title > p{
    color: grey;
    font-size: .625rem;
    font-weight: 700;
}

.small-card_title > h1 > a {
    font-size: 1.25rem;

}

.container_small-card_separator {
    margin-top: 1.25rem;
}
