<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card photoCover="https://static.hbo.com/2022-08/house-of-the-dragon-s01-e04-episodic-1920_0.jpg?w=640"
    date="September 11, 2022"
    cardTitle="Episode 4: King if the Narrow Sea"
    cardDescription="After Rhaenyra cuts short her tour of Westeros, Daemon introduces the princess to the Street of Silk after dark."></app-big-card>
  </div>

  <div class="articles_others">
    <app-small-card 
    photoCover="https://static.hbo.com/2022-07/house-of-the-dragon-returning-to-westeros-99598102.jpg?w=640"
    date="August 18, 2022"
    cardTitle="Returning to Westeros"></app-small-card>
    <app-small-card 
    photoCover="https://static.hbo.com/2022-08/hotd-before-the-dance-thumbnail-1920x1080_0.jpg?w=640"
    date="August 2, 2022"
    cardTitle="Before the Dance: An illustrated History with George R.R MArtin"></app-small-card>
    <app-small-card 
    photoCover="https://static.hbo.com/2022-08/HOTD-Thumbnail-Height%20of%20an%20Empire-1920x1080.jpg?w=640"
    date="July 22, 2022"
    cardTitle="Height of an Empire"></app-small-card>
  </div>
</div>
