.container_menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.container_menu-bar > img {
  width: 100px;
}

.container_menu-bar > ul {
  display: flex;
  flex-direction: row;
}

.container_menu-bar > ul > li {
  list-style: none;
}

.separator {
  margin: 0 1.25rem;
  display: flex;
  align-items: center;
  color: var(--primary);
}

.container_menu-bar > ul > li > a {
  position: relative;
  display: inline-block;
  padding: 0.625rem 1rem;
  border: 0.125rem solid var(--primary);
  font-weight: 600;
  font-size: 1rem;
}

.container_menu-bar > ul > li > a::before {
  content: "";
  position: absolute;
  top: 0.375rem;
  left: -0.125rem;
  width: calc(100% + 0.25rem);
  height: calc(100% - 0.75rem);
  background: var(--body);
  transition: 0.5s ease-in-out;
  transform: scaleY(1);
  transition-delay: 0.5s;
}

.container_menu-bar > ul > li > a:hover::before {
  transform: scaleY(0);
}

.container_menu-bar > ul > li > a::after {
  content: "";
  position: absolute;
  left: 0.375rem;
  top: -0.125rem;
  height: calc(100% + 0.25rem);
  width: calc(100% - 0.75rem);
  background: var(--body);
  transition: 0.5s ease-in-out;
  transform: scaleX(1);
}

.container_menu-bar > ul > li > a:hover::after {
  transform: scaleX(0);
}

.container_menu-bar > ul > li > a > span {
  position: relative;
  z-index: 3;
  color: var(--primary);
}

@media screen and (max-width: 820px) {
  .container_menu-bar > ul,
  .container_menu-bar > ul > li {
    display: flex;
    flex-direction: column;
  }
}
