* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary);
}

:root {
  --primary: #111111;
  --body: #fff;
}

:root .dark-theme {
  --primary: #fff;
  --body: #111111;
}

body {
  background-color: var(--body);
}
